*{
    margin : 0 ;
    padding : 0 ;
    box-sizing : border-box ;
    font-family : 'Jost', Arial, sans-serif ;
}

body {
    background-color : #f4f4f4 ;
}

header {
    display : flex ;
    justify-content : space-between ;
    align-items : center ;
    background-color : #9F8C76 ;
    color : white ;
    position : sticky ;
    padding : 15px 30px ;
}

header nav {
    display : flex ;
    gap : 20px ;
} 

header nav a {
    margin-top : 10px ;
    position : relative ;
}

header nav a:hover {
    color : #f0a500 ;
}

.logo-titulo {
    display : flex ;
    align-items : center ;
    color : white ;
    font-size : 28px ;
    gap : 10px ;
}

.titulo {
    display : flex ;
    align-items : center ;
    color : green ;
    font-size : 28px ;
}

.banner {
    background : linear-gradient(to right, #4b6cb7, #182848) ;
    color : white ;
    text-align : center ;
    padding : 60px 20px ;
}

.banner h2 {
    font-size : 40px ;
    margin-bottom : 10px ;
}

.libreria {
    display : flex ;
    justify-content : center ;
    gap : 25px ;
    padding : 40px ;
    flex-wrap : wrap ;
}

.card-libro {
    background-color : white ;
    width : 280px ;
    border-radius : 10px ;
    overflow : hidden ;
    box-shadow : 0px 4px 10px rgba(0,0,0,0.2);
    transition : 0.3s
}

.card-libro:hover {
    transform: translateY(-5px)
}

.card-libro img {
    width : 100% ;
    height : 320px ;
    object-fit : fill ;
}

.card-libro h3 {
    padding : 15px 15px 15px ;
    height : 65px ;
}

.card-libro p {
    padding : 0px 15px;
    color : gray ;
}

.card-libro span {
    display : block ;
    padding : 15px ;
    font-size : 22px ;
    color : #4b6cb7 ;
    font-weight : bold ;
}

.card-libro button {
    width : 100% ;
    padding : 15px ;
    border : none ;
    background-color : green ;
    color : white ;
    font-size : 16px ;
    cursor : pointer ;
    transition : 0.3s ;
}

.card-libro button:hover {
    background-color : #182848 ;
}

.contacto {
    background : linear-gradient(to right, #4b6cb7, #182848) ;
    /* background-color : white ;*/
    padding : 60px 20px ;
    display : flex ;
    flex-direction : column ;
    align-items : center ;
}

.contacto h4 {
    margin-bottom : 30px ;
    font-size : 35px ;
    color : white ;
}

.contacto form {
    width : 100% ;
    max-width : 600px ;
    display : flex ;
    flex-direction : column ;
    gap : 20px ;
}

.contacto input, .contacto textarea {
    padding : 15px ;
    border : 1px solid #ccc ;
    border-radius : 8px ;
    font-size : 16px ;
    outline : none ;
}

.contacto button {
    width : 35% ;
    padding : 15px ;
    border : none ;
    background-color : green ;
    color : white ;
    font-size : 16px ;
    cursor : pointer ;
    transition : 0.3s ;
    align-self : center ;
}


.contacto input:focus, .contacto.textarea:focus {
    background-color : white ;
    color : black ;
    border : none ;
    padding : 15px ;
    font-size : 18px ; 
    border-radius : 8px ;
    cursor : pointer ;
    transition : 0.3s ;
}


.contacto button:hover{
    background-color : #0fcc19 ;
}

footer {
    background-color : #222 ;
    color : white ;
    text-align : center ;
    padding : 20px ;
    margin-top : 40px ;
}

@media(max-width: 600px){

    header{
        padding: 15px;
        gap : 5px ;
        align-items : center ;
    }

    nav{
        gap: 18px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .titulo {
        align-items : center ;
        font-size : 18px ;
    }

    .banner {
        padding : 20px 20px ;
}

    .banner h2 {
        font-size : 15px ;
        margin-bottom : 5 ;
}

    .banner p {
        font-size : 15px ;
        margin-bottom : 5 ;
    }
}
@media(max-width: 900px){

    header{
        flex-direction: column;
        gap: 5px;
        align-items : center ;
    }

    .titulo {
        align-items : center ;
        font-size : 18px ;
    }

    .banner {
        padding : 20px 20px ;
}
    .banner h2 {
        font-size : 15px ;
        margin-bottom : 5 ;
    }

    .banner p {
        font-size : 15px ;
        margin-bottom : 5 ;
    }
}